*{
    margin: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: "Roboto", sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}