.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: dense;
  gap: 1.1rem;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: block;
    box-shadow: 1px 1px 10px 1px grey;
    border: 1px solid yellow;

    transform: scale(1.03);
  }

  .gallery-item {
    overflow: hidden;
  }

  .item-wide {
    grid-column: span 2;
  }

  .item-tall {
    grid-row: span 2;
  }
}

@property --is-featured {
  syntax: "<integer>";
  inherits: true;
  initial-value: 0;
}

@supports (color: if(style(--is-featured: 0): white;
else: grey )) {
  img {
    border: none;
    box-shadow: none;
    transform: none;
  }

  .gallery-item {
    --gallery-item: 0;
  }

  .item-featured {
    --gallery-item: 1;
  }

  img {
    border: if(style(--is-featured: 1): 2px solid yellow; else: 2px solid black);
  }

  footer::after {
    content: "Tu navegador soporta esta funcionalidad";
  }
}

@media only screen and (max-width: 400px) {
  .gallery-grid {
    display: flex;
    flex-direction: column;

    .item-tall {
      aspect-ratio: 16/10;
    }
  }
}
